// Import page-specific CSS files here.
@import "home";
@import "login";
@import "landing";

.banner {
  display: flex;
  justify-content: center;
}

h1 {
  color: #4F4F4F;
  margin-top: 32px;
}

.criteria-title{
  font-size: 1.5rem;
  margin: 16px 0 8px 0;
  width: 120%;
  position: relative;
  left: 30px;
}


#title-logo {
  height: 100vh;
}

#map {
  margin: 0 auto;

}

#show-map {
  margin: 0 auto;
}

body {
  background-color: white;
}
.row {
  height: 120px;
}

.map-display {
  overflow:hidden;
}

.col-xl-4 {
  position: relative;
  right: 10px;
  padding-left:20px;
}

.col-xl-8 {
  padding: 0
}
