// Import page-specific CSS files here.
@import "home";
@import "login";
@import "landing";

.banner {
  display: flex;
  justify-content: center;
}

h1 {
  color: #4F4F4F;
  margin-top: 32px;
}

.criteria-title{
  font-size: 1.5rem;
  margin: 16px 0 8px 0;
  width: 120%;
  position: relative;
  left: 30px;
}

.container {
  // width: 100%;
  // height: 100vh;
  // margin:0;
  // padding:0;
}


#title-logo {
  height: 100vh;
}

#map {
  margin: 0 auto;


}

#show-map {
  margin: 0 auto;
}

body {
  background-color: white;
}
.row {
  height: 120px;
}

.map-display {
  overflow:hidden;
}

.col-xl-4 {
  padding-left:20px;
}
