.subtitle-text {
  font-family: roboto;
  color: #686868;
}

.tab-side {
  padding: 0;
}

.map-side {
  padding: 0;

}

#myTabContent {
  margin: 16px 0 32px 48px;
}

.mockup {
  width: 150px;
  height: 150px;
  background-color: lightgrey;

}

.image{
  display: flex;
  justify-content: space-around;
}
