.subtitle-text {
  font-family: roboto;
  color: #686868;
}

.tab-side {
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.tab-side::-webkit-scrollbar { width: 0 !important }

.map-side {
  padding: 0;

}

#myTabContent {
  margin: 16px 0 32px 48px;
}

#home {
  p {
    line-height: 2.1;
  }
}

.tabs {
    height: 8vh;
}

.image-section {
  width: 100%;
  padding: 20px;
}

.hashtag {
  margin-bottom: 0;
  font-size: 1.2em;
}
