.subtitle-text {
  font-family: roboto;
  color: #686868;
}

.tab-side {
  padding: 0;
}

.map-side {
  padding: 0;

}

#myTabContent {
  margin: 16px 0 32px 48px;
}

#home {
  p {
    line-height: 2.1;
  }
}

.tabs {
    height: 8vh;
}

.image-section {
  width: 100%;

}

