
  <%= inline_svg 'home_background.svg', class: 'background', id: 'background', width: '100%' %>

  <div class="top-container">

    <div class="middle">
      <div class="logo-position">
        <div id="title-text">
          <%= inline_svg "magic-wand.svg", class: 'logo-wand' %>
          <h1 class="text-logo">WIZAR</h1>
        </div>
        <h3 class="subtitle-logo">Every neighbourhood has its own personality, find yours.</h3>
        <br>
        <h3></h3>
      </div>
      <div id="image-logo">
    </div>
  </div>
  <div class="btn-search">
    <%= link_to "Start search", districts_path, class: "btn btn-success btn-lg new-location-btn m-3" %>
  </div>

  <a class="fas fa-chevron-up fa-2x" id="scroll-button"></a>

  <div class="blank first"></div>
  <div class="colored"></div>
  <div class="blank second"></div>
    <%= render 'shared/footer' %>
