  <div class="top-container parallax">
    <div class="banner"></div>
      <%= render 'shared/searchbar' %>
  </div>
<div class="container">

  <div
    id="map"
    style="width: 100%;
    height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div class="icons">
    <div class="round-button restaurant">
      <p>restaurant</p>
    </div>
    <div class="round-button">
    </div>
    <div class="round-button">
    </div>
    <div class="round-button">
    </div>
  </div>
  <div class="icons">
    <div class="round-button">
    </div>
    <div class="round-button">
    </div>
    <div class="round-button">
    </div>
    <div class="round-button">
    </div>
  </div>
</div>
