<div class="image" >
  <div class="mockup" >
    <%= image_tag "aire-commune.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "bagels.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "lagare.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "demo.jpg", class:"image-section"  %>
  </div>
</div>
