<!-- ================================================================================  Review section
-->
<div id="testimonial-carousel" class="carousel-slide" data-ride="false">

  <div class="text-center">
    <h2>Neighbourhood's reviews</h2>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active container-fluid">

      <div class="review-cards">

        <div class="review-card">
          <div class="reviewers-photos">
            <%= image_tag "martin.jpg", class:"image-review"  %>
          </div>
          <h2 class="testimonial-text">I love the proximity with everything, it is my favorite neighbourhood in Montreal. It's warm atmosphere makes you feel good.</h2>
        </div>

        <div class="review-card">
          <div class="reviewers-photos">
            <%= image_tag "seb.jpg", class:"image-review" %>
          </div>
          <h2 class="testimonial-text">Little known to tourists, this area is really nice.So many activities for the family ,very good restaurants,local food stands</h2>
        </div>
      </div>

    </div>

    <div class="carousel-item container-fluid ">
      <div class="review-cards">

        <div class="review-card">
          <div class="text-center">
            <%= image_tag "stephane.jpeg", class:"image-review"  %>
          </div>
          <h2 class="testimonial-text">With some of the best cafes, restaurants, bars and local independent shops, it is a must for anyone living or visiting Montreal.</h2>
        </div>

        <div class="review-card">
          <div class="text-center">
            <%= image_tag "steph.jpg", class:"image-review" %>
          </div>
          <h2 class="testimonial-text"> Fun place for strolling with a good selection of coffe shops and eateries, book stores and funky resale shops. The perpendicular streets are really quiet</h2>
        </div>
      </div>
    </div>
  </div>
</div>
