#map {
  height: 100vh;
}

#show-map {
	border-radius: 18px;
 }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 992px) {
  #map {
    height: 80vh;
  }
}
