.hidden{
  display: none;
}

.category-choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #3EF49E;
  padding: 20px;
  width: 150px;
  height:150px;
  border-radius: 50%;
  text-align: center;
  transition: 0.4s;
  opacity: 0.8;
  border: solid 8px (rgba(47, 64, 196, 0.00));
  svg {
    fill: white
  } 

  &:hover {
    border: solid 8px (rgba(47, 64, 196, 1.00));
  }

  &.active {
    opacity:1;
    color: #2f40c4;
    svg {
      fill: #2f40c4;
    }
  }
}



