.map-display {
  min-height: 100vh;
  min-width: 100vw;
}

.hidden{
  display: none;
}

.category-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  text-align: center;
}

.category-choice {
  background: #b6bab8;
  padding: 20px;
  width: 110px;
  height:110px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
  opacity: 0.8;
  border: solid 4px (rgba(47, 64, 196, 0.00));
  svg {
    fill: white
  }
  &:hover {
    filter: brightness(80%);
  }
  &.active {
    opacity:1;
    background-color: #8cf7a2;
    svg {
      fill: #686868;
    }
  }
}

.selection{
  margin: 0 20px;
}

.margin-bt-small{
    margin: 10px 0;
}

@media(max-width: 1200px){
  .category-choices {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 992px)  {
  .category-choices {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .selection{
    margin: 0;
  }
}

