.book-button {
    text-align: center;
}
.btn-primary, .btn-secondary {
    border-radius: 6px;
    width: 120px;
}
.show-btn {
    text-align: center;
    margin-top: 5%;
}
.new-location-btn, .btn-lg {
    width: 220px;
}
.btn-danger {
    border-radius: 6px;
}
