.book-button {
    text-align: center;
}
.btn-primary, .btn-secondary {
    border-radius: 6px;
    width: 120px;
}
.show-btn {
    text-align: center;
    margin-top: 5%;
}
.new-location-btn, .btn-lg {
    width: 220px;
}
.btn-danger {
    border-radius: 6px;
}

.btn-show-category {
    border-radius: 6px;
    color: $secondary-color;
    width: 160px;
    // height: 40px;
    box-shadow: 8px 8px 15px -6px rgba(153,153,153,0.5);
    display: flex;
    justify-content: center;
	&:focus {
		outline: none;

		// outline-offset: 0;
	}

    p {
    	margin: 0;
	    font-family: 'Roboto', sans-serif;
		font-weight: 500;
		color: $secondary-color;
    }

}

.btn-show-category p {

}

.btn-container {
	margin: 15px;
}

.marker {
	width:50px;
	height:50px;
	i {
		width: 40px;
		height: 40px;
		color: #2b3aa5;
		font-size: 40px;

	}
}
